
ObjectiveC-Utilities/ObjectiveC-Utilities.xcodeproj/xcuserdata/ttelepko.xcuserdatad/xcschemes/xcschememanagement.plist

ObjectiveC-Utilities/ObjectiveC-Utilities.xcodeproj/xcuserdata/ttelepko.xcuserdatad/xcschemes/ObjectiveC-Utilities.xcscheme

ObjectiveC-Utilities/ObjectiveC-Utilities.xcodeproj/project.xcworkspace/xcuserdata/ttelepko.xcuserdatad/UserInterfaceState.xcuserstate

ObjectiveC-Utilities/ObjectiveC-Utilities.xcodeproj/project.xcworkspace/contents.xcworkspacedata
